<nav>
    <% if (user){ %>
        <p>Welcome, <%= user.username %>!</p>
        <a href="/auth/logout">Logout</a>
        <a href="/backlog/users">view community backlogs</a>
        <a href="/backlog/new">add new game</a>
        <a href="/backlog">view your backlog</a>

    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
    <%} %>
    
</nav>