<nav>
    <% if (user){ %>
        <p class="greeting">Welcome, <%= user.username %>!</p>
    <div class="menu">
        <a href="/auth/logout">Log out</a>
        <a href="/backlog">Your backlog</a>
        <a href="/backlog/users">Community backlogs</a>
    </div>
        <!-- <a href="/backlog/new">add new game</a> -->

    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/backlog/users">Community backlogs</a>
    <%} %>
    
</nav>