<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>
    <h1>The Pile of Shame</h1>
    <h4>for all those 5$ steam impulse buys</h4>
    <%- include('./partials/navbar.ejs') %>
    <div class="image-with-txt">
    <img class="smaller-image" src="/images/backlog1.png" alt="lord-backlog">
    <h3>We are making an AWARD!</h3>
    <p id="hometext">for the person who has the most amount of games they completed! Better finish those games! There is a fat price of $500 worth of steam cards for it.</p>
    <p> ENDS AT 4/20/2069.</p>
    </div>
    <div class="image-with-txt2">
    <img class="smaller-image2" src="/images/reminder.png" alt="reminder">
    <h3>Those impulse buys are SCREAMING</h3>
    <p id="hometext2">at you to finish them. come on man, you can't just keep playing e-sport slop for 8 hours a day, the grass is greener on the other side.</p>
    </div>
</body>
</html>