body {
    background-color: #232531;
    text-align: center;
}

.users {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.users a {
color: #f9e98c;
text-decoration: none;
}

h1 {
    color: white;
    font-family: Bitcount prop single;
    margin-bottom: 1px;
    border-bottom: 1px solid white;
    display: inline-flex;
    text-align: center;
    border-bottom-style: solid;
}