body {
    background-color: #232531;
    text-align: center;
    
}

h1 {
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
    font-family: Bitcount prop single;
    margin-bottom: 1px;
    display:inline-flex;
    justify-content: center;
    border-bottom-style: solid ;
}

h3 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

p {
    color: white;
    font-family: sans-serif;
}