body {
    background-color: #232531;
    text-align: center;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    color: #f9e98c;
    text-decoration: none;
    display:inline-flex;
}

h1 {
    text-align: center;
    color: white;
    font-family: Bitcount prop single;
    margin-bottom: 1px;
}

h4 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}

.greeting {
    margin:2px;
    color: white;
}

.menu{
    display:inline-flex;
    justify-content: center;
    border-bottom-style: solid ;
    padding: 2px;
    color: #f9e98c;
    margin-bottom:8px;

}
.image-with-txt{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.smaller-image {
    height:300px;
    width:350px;
    margin: 15px;
}

.image-with-txt2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.smaller-image2{
    height:300px;
    width:350px;
}