body {
    background-color: #232531;
    
}

h1 {
    display:inline-flex;
    justify-content: center;
    border-bottom-style: solid ;
    text-align: center;
    color: white;
    font-family: Bitcount prop single;
    margin-bottom: 3px;
    
}

p{
    text-align: left;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#game-container{
    margin-bottom: 30px;

}
.details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f9e98c;
    
}

.add {
    background-color: #04AA6D;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    width: 40%;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
#back {
    background-color: #d5b410;
    color: white;
    padding: 7px ;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    display: inline-block;
    text-align: center;
}
form{
    text-align: center;
}