body {
    background-color: #232531;
    
}

h1 {
    display:inline-flex;
    justify-content: center;
    border-bottom-style: solid ;
    text-align: center;
    color: white;
    font-family: Bitcount prop single;
    margin-bottom: 3px;
    
}

p{
    text-align: left;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f9e98c;
    text-decoration-style: none;
}