<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List a game</title>
</head>
<body>
    <h1>List a new game in your backlog</h1>

    <form action="/backlog" method="post">
        <label for="game">Game:</label>
        <input type="text" title="game" name="game">

        <label for="genre">Genre:</label>
        <input type="text" name="genre" title="genre">

        <label for="description">Game description:</label>
        <input type="text" name="description" title="description">

        <label for="status">Game complete?</label>
        <input type="checkbox" name="status">

        <button type="submit">submit game</button>
    </form>
</body>
</html>