<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/update.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap" rel="stylesheet">
    <title>List a game</title>
</head>
<body>
    <h1>List a new game in your backlog</h1>
    <br>
    <br>
    <form action="/backlog" method="post">
        <label for="game">Game:</label>
        <input type="text" title="game" name="game">

        <label for="genre">Genre:</label>
        <input type="text" name="genre" title="genre">

        <label for="description">Game description:</label>
        <input type="text" name="description" title="description">

        <label for="status">Game complete?</label>
   <select name="status" id="tstaus">
            <option value="Nah..">Nah..</option>
            <option value="Yeah!">Yeah!</option>

        </select>
     
        <button type="submit">submit game</button>
    </form>
</body>
</html>