<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your backlog</title>
</head>
<body>
    <h1>Your game backlog</h1>

    <% userBacklog.forEach((oneGame) => { %>
     
        
        <h3>Game: <%= oneGame.game %></h3>
        <p>Genre: <%= oneGame.genre %></p>
        <p>Description: <%= oneGame.description %></p>
        <p>Game complete? : <%= oneGame.status %></p>
        
    <% }) %>

    <form action="/backlog/new" method="get">
<button>Add a new game</button>

    </form>
</body>
</html>